<br>
<br>
<br>
<br>
<div class="container">
<div class='row'>
<app-result></app-result>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<p>previous action</p> &nbsp;&nbsp;&nbsp;&nbsp;
<app-op></app-op>
</div>

<div class='row'>
    <app-button-num [label]="1"></app-button-num>
    <app-button-num [label]="2"></app-button-num>
    <app-button-num [label]="3"></app-button-num>
    <app-button [label]="'+'"></app-button>
    <app-button [label]="'M+'"></app-button>
    <app-button [label]="'pow'"></app-button>
</div>
<div class='row'>
    <app-button-num [label]="4"></app-button-num>
    <app-button-num [label]="5"></app-button-num>
    <app-button-num [label]="6"></app-button-num>
    <app-button [label]="'-'"></app-button>
    <app-button [label]="'M-'"></app-button>
    <app-button [label]="'root'"></app-button>
</div>
<div class='row'>
    <app-button-num [label]="7"></app-button-num>
    <app-button-num [label]="8"></app-button-num>
    <app-button-num [label]='9'></app-button-num>
    <app-button [label]="'*'"></app-button>
    <app-button [label]="'MRS'"></app-button>
    <app-button [label]="'sq root'"></app-button>
</div>
<div class='row'>
    <app-button [label]="'backspace'" ></app-button>
    <app-button [label]="0"></app-button>
    <app-button [label]="'enter'"></app-button>
    <app-button [label]="'/'"></app-button>
    <app-button [label]="'clear'"></app-button>
</div>
</div>